/* line 17, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

/* line 18, style.scss */
a {
  color: #11a7ab;
  font-weight: bold;
  text-decoration: none;
}

/* line 24, style.scss */
input, textarea {
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

/* line 30, style.scss */
body {
  color: #8f99b7;
  font-family: "Ubuntu";
  font-size: 16px;
  background-color: #1f253d;
}

/* line 37, style.scss */
h1 {
  font-size: 28px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin: 45px 0;
  display: none;
}

/* line 46, style.scss */
p {
  margin: 1em 0px;
  overflow: hidden;
  *zoom: 1;
  line-height: 24px;
}

/* line 52, style.scss */
.chapo {
  font-weight: bold;
}

/* line 56, style.scss */
label {
  display: block;
  margin-bottom: 5px;
}

/* line 61, style.scss */
input.text, textarea.text {
  display: block;
  width: 100%;
  height: 48px;
  border: 1px solid #1f253d;
  background-color: #4f597b;
  color: #fff;
  font-size: 16px;
  padding-left: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 73, style.scss */
input.text:focus, textarea.text:focus {
  border: 1px solid #11a7ab;
}

/* line 78, style.scss */
textarea.text {
  height: 150px;
  padding-top: 15px;
}

/* line 83, style.scss */
input.submit, .btn {
  display: inline-block;
  padding: 0 5px;
  height: 50px;
  line-height: 50px;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #e54b65;
  float: right;
  text-decoration: none;
  cursor: pointer;
}

/* line 98, style.scss */
.btn {
  background-color: #11a7ab;
  float: left;
  cursor: pointer;
  font-weight: normal;
}

/* line 105, style.scss */
.back {
  display: block;
  position: absolute;
  top: -60px;
  left: 0;
  color: #fff;
  z-index: 10;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 35px;
  margin-left: 6px;
  cursor: pointer;
}

/* line 117, style.scss */
.loader {
  background: url("../img/ajax-loader.GIF") center center no-repeat rgba(57, 66, 100, 0.6);
  z-index: 500;
}

/* line 124, style.scss */
.row-title {
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  background-color: #cb314b;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

/* line 136, style.scss */
.row {
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  background-color: #4f597b;
  border-bottom: 1px solid #1f253d;
  color: #fff;
}
/* line 144, style.scss */
.row .temperature {
  text-align: right;
  padding-right: 20px;
  font-size: 22px;
  float: right;
  margin-left: 40px;
}
/* line 153, style.scss */
.row .date {
  float: right;
  color: #1f253d;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 159, style.scss */
.row .date strong {
  color: #fff;
  margin-right: 5px;
}
/* line 166, style.scss */
.row span {
  float: left;
  padding-left: 20px;
  font-size: 35px;
  height: 60px;
  line-height: 60px;
  margin-right: 30px;
}
/* line 174, style.scss */
.row.row_active {
  height: 120px;
  background-color: #e54b65;
}
/* line 178, style.scss */
.row.row_active .date {
  color: #fff;
  float: left;
  line-height: 120px;
}
/* line 185, style.scss */
.row.row_active .temperature {
  font-size: 50px;
  float: left;
  line-height: 120px;
  margin-left: 15px;
}
/* line 194, style.scss */
.row.row_active span {
  float: right;
  font-size: 95px;
  height: 120px;
  line-height: 120px;
}

/*
|-----------------------------------------------------
| APP
|-----------------------------------------------------
|
*/
/* line 212, style.scss */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #11a7ab;
}

/* line 222, style.scss */
.view {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 60px;
  left: 0;
}

/* line 227, style.scss */
.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  color: #fff;
  text-align: center;
  background-color: #4f597b;
  overflow: hidden;
  *zoom: 1;
}
/* line 236, style.scss */
.nav a {
  display: block;
  width: 33%;
  float: left;
  color: #fff;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  font-size: 25px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 246, style.scss */
.nav a:first-child, .nav a:nth-child(2) {
  border-right: 1px solid #1f253d;
}
/* line 250, style.scss */
.nav .active {
  border-top: 3px solid #11a7ab;
}
/* line 251, style.scss */
.nav span {
  margin-top: 15px;
}

/* line 256, style.scss */
.panel, .loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 265, style.scss */
.panel-padding {
  padding: 25px;
}

/* line 269, style.scss */
.left {
  -webkit-transform: translate3D(-100%, 0, 0);
  -moz-transform: translate3D(-100%, 0, 0);
  -ms-transform: translate3D(-100%, 0, 0);
  -o-transform: translate3D(-100%, 0, 0);
  transform: translate3D(-100%, 0, 0);
}

/* line 270, style.scss */
.center {
  -webkit-transform: translate3D(0%, 0, 0);
  -moz-transform: translate3D(0%, 0, 0);
  -ms-transform: translate3D(0%, 0, 0);
  -o-transform: translate3D(0%, 0, 0);
  transform: translate3D(0%, 0, 0);
}

/* line 271, style.scss */
.right {
  -webkit-transform: translate3D(100%, 0, 0);
  -moz-transform: translate3D(100%, 0, 0);
  -ms-transform: translate3D(100%, 0, 0);
  -o-transform: translate3D(100%, 0, 0);
  transform: translate3D(100%, 0, 0);
}

/*
|-----------------------------------------------------
| Icomoon
|-----------------------------------------------------
|
*/
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?-6ervqg");
  src: url("fonts/icomoon.eot?#iefix-6ervqg") format("embedded-opentype"), url("fonts/icomoon.woff?-6ervqg") format("woff"), url("fonts/icomoon.ttf?-6ervqg") format("truetype"), url("fonts/icomoon.svg?-6ervqg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 291, style.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 305, style.scss */
.icon-home:before {
  content: "\e60a";
}

/* line 306, style.scss */
.icon-earth:before {
  content: "\e60b";
}

/* line 307, style.scss */
.icon-spinner:before {
  content: "\e60c";
}

/* line 308, style.scss */
.icon-arrow-left:before {
  content: "\e60d";
}

/* line 309, style.scss */
.icon-sun:before, .icon-clear:before {
  content: "\e60e";
}

/* line 310, style.scss */
.icon-cloudy:before {
  content: "\e60f";
}

/* line 311, style.scss */
.icon-rain:before {
  content: "\e610";
}

/* line 312, style.scss */
.icon-clouds:before {
  content: "\e611";
}

/* line 313, style.scss */
.icon-snow:before {
  content: "\e612";
}

/* line 314, style.scss */
.icon-weather:before {
  content: "\e613";
}

/* line 315, style.scss */
.icon-storm:before {
  content: "\e614";
}

/* line 316, style.scss */
.icon-snowy2:before {
  content: "\e615";
}

/* line 317, style.scss */
.icon-envelope:before {
  content: "\e616";
}
