<section class="panel panel-padding">


	<article>
		<header>
			<h1>Contact</h1>
		</header>

		<div class="contenu">
			<p class="chapo"><strong>Pour me contacter</strong></p>

			<form>

				<p>
					<label for="firstname">Prénom:</label>
					<input type="text" name="firstname" id="firstname" class="text" />
				</p>

				<p>
					<label for="lastname">Nom:</label>
					<input type="text" name="lastname" id="lastname" class="text" />
				</p>

				<p>
					<label for="email">Email:</label>
					<input type="email" name="email" id="email" class="text" />
				</p>

				<p>
					<label for="message">Message:</label>
					<textarea name="message" id="message" class="text" ></textarea>
				</p>

				<p>
					<input type="submit" value="Envoyer" class="submit">
				</p>

			</form>
		</div>

	</article>

</section>