<section ng-controller="WeatherCtrl">

	<div class="loader" ng-show="loader"></div>
	<a class="back" ng-hide="panel==0" ng-click="panel=0"><span class="icon-arrow-left"></span></a>

	<section
		class="panel panel-padding"
		ng-class="{center:panel==0, left:panel>0}">

		<p>Bienvenue sur ma superbe appli météo !</p>


		<form ng-submit="search()">

			<p>
				<input type="text" class="text" placeholder="Rechercher une ville" ng-model="city">
			</p>

			<p>
				<a class="btn" ng-click="geolocate()">Ma position</a>
				<input type="submit" class="submit" value="Rechercher" />
			</p>

		</form>
	</section>



	<section
		class="panel right"
		ng-class="{center:panel==1, right:panel<1}">

		<div class="row-title">
			{{weather.city.name}}/{{weather.city.country}}
		</div>


		<div class="row" ng-class="{row_active: $index==0}" ng-repeat="t in weather.list" ng-click="expand($event)" >
			<div class="temperature">{{Math.round(t.temp.day)}} °C</div>
			<div class="date">
				<strong>{{t.dt*1000 | date:'EEE'}}</strong>
				{{t.dt*1000 | date:'dd/MM'}}
			</div>
			<span class="icon-{{t.weather.0.main.toLowerCase()}}"></span>
		</div>
	</section>




</section>